@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

body {
  margin: 0;
  padding: 24px;
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  background-image: url(img/backg.png);
}

.bio-section {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  background-image: url(img/backg.png);
  background-size: cover;
  background-position: center;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 1px;
}

.logo {
  width: 76px;
  height: 20px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #6070ff;
  flex: none;
  order: 0;
  flex-grow: 0;
  cursor: pointer;
  margin-left: 1%;
  text-decoration: none;
}

.bio-header {
  font-size: 49px;
  font-weight: 800;
  line-height: 60px;
  align-items: center;
  letter-spacing: 0.37px;
  bottom: 20%;
  color: #091e42;
}

.bio-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  max-width: 80vw;
  top: 30%;
  color: #344563;
}

.connect {
  text-transform: uppercase;
  text-decoration: none;
  color: #6070ff;
}

.connect-icons {
  width: 200px;
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
  padding-left: 1px;
  padding-top: 1px;
  margin: 1px;
  list-style: none;
}

.connect-icons i {
  margin: 0;
  font-size: 21px;
  color: #505f79;
  height: 19.96px;
  width: 19.99px;
}

.connect-icons i:hover {
  font-size: 19px;
  transition: 1s ease-in-out;
  cursor: pointer;
}

/* Works Styles */
a {
  text-decoration: none;
}

li {
  list-style: none;
}

.project-1 {
  display: flex;
  flex-direction: column;
  padding: 16px;
  margin-bottom: 90px;
  border-radius: 20px;
  border-radius: 16px;
  background-color: white;
  border: 1px solid lightgray;
}

.project-img {
  padding: 1px;
  width: 355px;
}

.project-name {
  font-weight: 700;
  font-size: 34px;
  line-height: 44px;
  margin-bottom: 1px;
  margin-top: 15px;
}

.project-links {
  display: inline-flex;
  padding: 1px;
  margin-bottom: 20px;
}

.project-link {
  padding-left: 9px;
  list-style: none;
  font-size: 13px;
  line-height: 16px;
  font-weight: 600;
  color: rgba(122, 134, 154, 1);
}

.project-description p {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  max-width: 80vw;
}

.project-languages {
  display: flex;
  padding: 1px;
  max-width: 100vw;
  margin-top: 10px;
  margin-bottom: 37px;
}

.project-languages li {
  padding: 9px;
  list-style: none;
  font-size: 12px;
  line-height: 16px;
  border-radius: 10px;
  background-color: rgba(235, 235, 255, 1);
  color: rgba(96, 112, 255, 1);
  margin-left: 20px;
}

.see-btn {
  width: 30vw;
  color: rgba(57, 109, 242, 1);
  border-radius: 7px;
  line-height: 50px;
  background-color: white;
  font-size: 17px;
  border: 1px solid;
}

/* About Me Section Styles */
.about-me {
  padding: 24px;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

.about-header {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  margin-top: 114px;
}

.about-para {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.langua {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 1px;
}

.lang-item {
  display: flex;
  background-color: rgba(247, 247, 249, 1);
  margin: 10px;
  border-radius: 8px;
}

.lang-item p {
  font-size: 15px;
  align-self: center;
  padding-top: 14px;
  margin-left: 14px;
  font-weight: 500;
}

.item-header {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
}

.resume-btn {
  width: 50vw;
  color: rgba(57, 109, 242, 1);
  border-radius: 7px;
  line-height: 50px;
  background-color: white;
  font-size: 17px;
  border: 1px solid;
}

.resume-btn :hover,
.see-btn :hover {
  background-color: #6070ff;
}
