@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

body {
  margin: 0;
  padding: 24px;
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  background-color: #f7f7f9;
  box-sizing: border-box;
}

section {
  width: 100%;
  overflow-x: hidden;
}

.bio-section {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  background-image: url(img/backg.png);
  background-size: cover;
  background-position: center;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  padding: 0 0 0 0;
}

.bio {
  border: 2px transparent #fff;
  border-bottom-left-radius: 11%;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 1px;
}

.logo {
  width: 76px;
  height: 20px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #6070ff;
  flex: none;
  order: 0;
  flex-grow: 0;
  cursor: pointer;
  margin-left: 1%;
  text-decoration: none;
}

.bio-header {
  font-size: 49px;
  font-weight: 800;
  line-height: 60px;
  align-items: center;
  letter-spacing: 0.37px;
  bottom: 20%;
  color: #091e42;
}

.bio-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  max-width: 80vw;
  top: 30%;
  color: #344563;
}

.connect {
  text-transform: uppercase;
  text-decoration: none;
  color: #6070ff;
}

.connect-icons {
  width: 200px;
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
  padding-left: 1px;
  padding-top: 1px;
  margin: 1px;
  list-style: none;
}

.connect-icons i {
  margin: 0;
  font-size: 21px;
  color: #505f79;
  height: 19.96px;
  width: 19.99px;
}

.connect-icons i:hover {
  font-size: 19px;
  transition: 1s ease-in-out;
  cursor: pointer;
}

/* Works Styles */
.Works-Section {
  max-width: 100%;
  display: grid;
  text-align: center;
  padding: 0 0 0 0;
  gap: 88px;
  margin-bottom: 90px;
  margin-left: 0;
  margin-right: 0;
  margin-top: 190px;
}

.project-1 {
  border-radius: 16px;
  background-color: white;
  border: 1px solid lightgray;
  padding: 15px;
}

.connect-2 {
  color: #7f8cff;
  font-size: 16px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.project-name {
  text-align: left;
  font-size: 20px;
}

.project-name h2 {
  margin-top: 5px;
  margin-bottom: 5px;
  padding-right: 21px;
  line-height: 40px;
  color: #172b4d;
}

.project-languages {
  display: flex;
  justify-content: left;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  width: auto;
  position: relative;
  left: 0;
}

.project-links li:first-child a {
  font-weight: 600;
  text-transform: uppercase;
  color: #2e4662;
}

.project-links {
  display: flex;
  justify-content: space-between;
  max-width: 100vw;
  padding: 0 0 0 0;
}

.project-links li {
  list-style: none;
  margin-right: 3px;
}

.project-link {
  text-decoration: none;
  font-size: 16px;
  text-align: left;
  align-items: flex-start;
  color: #2e4662;
}

.project-description {
  text-align: left;
  color: #344563;
  padding-right: 39px;
}

.project-languages li {
  font-size: 12px;
  background-color: #eaebfe;
  padding: 4px 12px;
  border-radius: 8px;
  list-style: none;
  color: #6070ff;
  margin-left: 21px;
}

.btn {
  display: flex;
  justify-content: flex-start;
  margin-top: 25px;
  color: #396df2;
  max-width: 100%;
  padding: 10px;
  width: 160px !important;
}

.senta {
  text-align: center;
}

.about-me {
  width: 100%;
  padding-top: 75px;
  padding-bottom: 114px;
  background-color: white;
  border-top-right-radius: 85px;
}

.about-me-container {
  padding-left: 35px;
  display: flex;
  flex-direction: column;
  margin: 0 0 0 0;
}

.lang-arrow {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.tools {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
  padding: 1px;
}

.about-2 ul li {
  list-style: none;
}

.langua {
  display: flex;
  flex-direction: column;
  justify-content: left;
  gap: 10px;
  padding: 1px;
  left: 100%;
}

.lang-item {
  list-style: none;
  padding: 8px 10px;
  background-color: #f7f7f9;
  padding-bottom: 1px;
  width: 260px;
  border-radius: 8px;
  display: flex;
}

.btn:enabled {
  font-size: 19px;
  text-align: start;
  padding: 12px 12px;
  border: 1px solid #6070ff;
  width: 124px;
  border-radius: 8px;
  margin-bottom: 15px;
  color: #396df2;
  background: white;
  cursor: pointer;
}

.btn:hover {
  color: white;
  background-color: #6070ff;
}

.btn:active {
  color: white;
  background-color: #0034cd;
}

.btn:disabled {
  color: #5a6c83;
  border: none;
}

.resume-btn {
  width: 160px !important;
  margin-bottom: 0.1px !important;
}

.ira {
  position: relative;
  left: -50px;
  top: 25px;
}

.lang-point h3,
.lang-arrow h3 {
  font-weight: 400;
}

.lang-item p {
  margin-left: 15px;
}

.pointa {
  display: flex;
  justify-content: space-between;
}

.fa {
  font-weight: 300;
  margin-right: 45px;
  margin-top: 16px;
}

.about-header {
  font-size: 40px;
  font-weight: 700;
}
